/* Contenedor de paneles grises */
.system-config-panels {
  &--open {
    opacity: 1;
  }

  &--closed {
    max-height: 0;
    opacity: 0;
    padding-bottom: 0;
  }
}

section.cards-row {
  text-align: center;

  article:hover {
    margin-top: -5px;
  }
}

.health-tile {
  text-align: center;
}

td:not(:first-child),
th:not(:first-child) {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  /* evitar scroll general */
}